<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h2>hello peter</h2>
    <form action="/form" method="post">
      <input type="text" name="name" />
      <input type="number" name="contact" />
      <button type="submit">Add Contact</button>
      <% for(let i of data) { %> 
        <p><%= i.name %></p>
        <!-- <p><%= i.contact %></p> -->
        <a href="/delete/<%= i.name %>">Del</a>
        <% } %>
    </form>
  </body>
</html>
